@media (max-width: 600px) {
       
     
.mobile-menu{
    display: block;
    width: 35px;
}

.mobile-menu img{
    width: 100%;
}

.desktop-logo{
    display: none;
}


.mobile-logo{
    display: block;
}



header{
    width: 100%;
    margin: auto;
    padding: 10px 20px;
}

header .navigation ul{
    display: none;
}

.drop-menu{
    display: none;
}


section.main-container .boxes {
    max-width: 100%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

section.main-container .boxes .box{
    width: 50%;
    margin-bottom: 50px;
}



section.main-container .boxes .box .image {
    max-width: 110px;
    margin: 20px auto;

}

section.main-container .boxes .box .text p{
    text-align: center;
    line-height: 1.4;
    width: 100px;
    margin: auto;
}


section.main-container .boxes .box .text p.name{
    font-size: 14px;
    font-weight: 700;
}

section.main-container .boxes .box .text p.post{
    font-size: 12px;
}


/* NEWSLETTER */


}



















/* TABLET */

@media (min-width: 600px) and (max-width: 1040px) {
    
    
.mobile-menu{
    display: block;
    width: 40px;
}

.mobile-menu img{
    width: 100%;
}

.desktop-logo{
    display: none;
}


.mobile-logo{
    display: block;
}



header{
    width: 100%;
    margin: auto;
    padding: 10px 40px;
}

header .navigation ul{
    display: none;
}

.drop-menu{
    display: none;
}

/* SECTION  */


section.main-container .boxes {
    max-width: 100%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

section.main-container .boxes .box{
    width: 25%;
    margin-bottom: 50px;
}



section.main-container .boxes .box .image {
    max-width: 110px;
    margin: 20px auto;

}

section.main-container .boxes .box .text p{
    text-align: center;
    line-height: 1.4;
    width: 100px;
    margin: auto;
}


section.main-container .boxes .box .text p.name{
    font-size: 14px;
    font-weight: 700;
}

section.main-container .boxes .box .text p.post{
    font-size: 12px;
}


/* SECTION-NEWSLETTER */


}















/* DESKTOP */
@media (min-width: 1040px) {
    
}








