/* @media (min-width: 1279px){}
@media (max-width: 1279px){}
@media (max-width: 992px){}
@media (max-width: 768px){}
@media (max-width: 480px){}
 */


@media (max-width: 550px) {


.mobile-menu{
    width: 40px;
    display: block;
}

.mobile-logo{
    display: block;
}
    
.mobile-menu {
    width: 40px;
    position: relative;
}

.drop-menu {
    display: none;
}

.mobile-menu:hover .drop-menu{
    width: 200px;
    height: 150px;
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #D5EBE1;
}


.drop-menu ul{
    display: block;
    padding: 20px;
}

.drop-menu ul li{
    font-size: 20px;
    margin-bottom: 10px;
}

.drop-menu ul li a{
    color: #000;
}

.mobile-menu img{
    width: 100%;
}


header{
    width: 100%;
    margin: auto;
    padding: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    position: sticky;
    top: 0;

    
}




header .logo .image {
    width: 50px;
    margin-right: 10px;
}

header .logo .image img{
    width: 100%;
}

header .logo p.desktop-logo{
    display: none;
}



header .navigation ul{
    display: none;
    
    
}



section.path{
    background-image: url(./image/background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
}

section.path h2{
    font-size: 30px;
    margin: 30px 0 10px 0;
}

section.path p{
    width: 300px;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 45px;
    line-height: 1.5;
}

section.path p.btn{
    width: 150px;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #138951;
    background-color: #138951;
    padding: 10px 10px;
}

section.path .btn a{
    color: #fff;
}


section.path p.btn:hover{
    font-size: 14px;
    font-weight: 500;
    border: 3px solid #138951;
    background-color: #D5EBE1;
    color: #046739;
    font-weight: 400;
    padding: 10px 20px;
    transition: ease 0.4s;
    transform: translate(0);
    text-align: center;

}

section.path p.btn img{
    width: 10px;
}



section.mission-vision .mission{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 80px auto;
}

section.path p.donate{
    display: none;
}


section.mission-vision .mission{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 80px auto;
    padding: 15px;
}


.col-2-1{
    display: block;
}

section.mission-vision .mission .col-1 {
    margin-left: 10px;
    flex-basis: 50%;
}


section.mission-vision .mission .col-1 h2{
    font-size: 32px;
    font-weight: 700;
    color: #4A4A4A;
    margin-bottom: 20px;
    text-align: center;
}

section.mission-vision .mission .col-1 p{
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

section.mission-vision .mission .col-1 p.read-more{
    color: #138951;
    width: 200px;
    border: 1px solid #138951;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin: 50px auto;
}

section.mission-vision .mission .col-2-1{
    /* flex-basis: 50%; */
    width: 300px;
    margin-bottom: 20px;
}


section.mission-vision .mission .col-2-1 img{
    width: 100%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}


section.mission-vision .mission .col-2 {
    display: none;
}


section.mission-vision .mission .col-2 img{
    width: 100%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}



/* VISION  */


section.mission-vision .vision{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    padding: 15px;
}

section.mission-vision .vision .col-1{
    flex-basis: 50%;
    width: 95%;
    margin: 20px auto;
}

section.mission-vision .vision .col-1 img{
    width: 100%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

section.mission-vision .vision .col-2{
    flex-basis: 50%;
}



section.mission-vision .vision .col-2 h2{
    font-size: 32px;
    font-weight: 700;
    color: #4A4A4A;
    margin-bottom: 30px;
    text-align: center;
    
    

}

section.mission-vision .vision .col-2 p{
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

section.mission-vision .vision .col-2 p.read-more{
    color: #138951;
    width: 200px;
    border: 1px solid #138951;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin-top: 50px;
}

section.boxes .box-container{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
}


section.mission-vision .vision .col-2 p.read-more{
    color: #138951;
    width: 200px;
    border: 1px solid #138951;
    margin: auto;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin-top: 50px;
}


section.boxes .box{
    width: 85%;
    margin: auto;
    min-height: 300px;
    background-color: #3e5d4e;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}


section.ayah{
    background-image: url(./image/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 500px;
    color: #fff;
}


section.ayah .container{
    background-color: 
    #046739;
    padding: 30px 20px;
    opacity: 0.65;
    border-radius: 5px;
}


section.ayah .container h2{
    font-size: 20px;
    margin-bottom: 20px;
}

section.ayah .container p{
    font-size: 16px;
    width: 200px;
    font-weight: 400;
    margin-bottom: 10px;
}

section.ayah .container p.quran{
    font-size: 14px;
    font-weight: 200;
}



section.upcoming h2{
    font-size: 20px;
    text-align: center;
    margin: 30px 0;
}


section.upcoming .boxes{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


section.upcoming .box .date p{
    color: #fff;
    font-weight: 800;
    background: linear-gradient(132.84deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.05) 100%);
    min-width: 100px;
    position: absolute;
    padding: 20px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


section.upcoming .boxes .box{
    background-color: #fff;
    width: 100%;
    margin: 20px auto;
    min-height: 300px;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

section.upcoming .boxes .box .image img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


section.upcoming .boxes .box h2{
    font-size: 18px;
    color: #4A4A4A;
}

section.upcoming .boxes .box p{
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
}

section.upcoming .boxes .box p span{
    font-weight: 700;
}




section.latest-news .boxes{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 20px auto;
    padding: 20px 0 50px 0;
    
}



section.latest-news .boxes .box {
    background-color: #fff;
    width: 100%;
    margin: auto;
    min-height: 400px;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


section.latest-news .boxes .box-1{
    margin-bottom: 30px;
}

section.latest-news .boxes .box-2{
    margin-bottom: 30px;
}

section.latest-news .boxes .box-3{
    margin-bottom: 30px;
}



section.latest-news h2.latest{
    font-size: 25px;
    text-align: center;
    padding: 10px 0;
}
section.latest-news .boxes .box
 .image{
    width: 100%;
    
}


section.latest-news .boxes .box .text p.march{
    font-size: 14px;
    font-weight: 500;
    margin: 10px 0;
    text-align: left;
    padding-left: 30px;
    color: #4A4A4A;
}

section.latest-news .boxes .box .text h2.IVC{
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    padding-left: 30px;
    margin-bottom: 15px;
}

section.latest-news .boxes .box .text p.word{
    text-align: left;
    padding-left: 30px;
    font-size: 15px;
    margin-bottom: 20px;
}

section.latest-news .boxes .box .text p.read-more{
    text-align: left;
    padding-left: 30px;
    font-size: 16px;
    color: #138951;
    margin-bottom: 20px;
}


section.path-to-success{
    background: linear-gradient(0deg, rgba(5, 89, 53, 0), rgba(0, 85, 44, 0.4)), url(./image/background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
}



section.path-to-success h2{
    font-size: 25px;
    margin: 40px 0 20px 0;
    padding-top: 20px;
}

section.path-to-success p{
    width: 230px;
    font-size: 16px;
    text-align: center;
    margin-bottom: 45px;
    line-height: 1.5;
}

section.path-to-success p.btn{
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #138951;
    background-color: #138951;
    padding: 10px 20px;
}













/* FOOTER  */


footer{
    padding: 20px 0;
    width: 100%;
    background-color: #D5EBE1;
}


footer .row-1{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    flex-basis: 0%;
    margin-bottom: 10px;
    
}

footer .row-1 .col-1 .image{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

footer .row-1 .col-1 .image img{
    margin-right: 20px;
}



footer .row-1 .col-1 .image p{
    display: none;
}



footer .row-1 .col-1 h2{
    font-size: 22px;
    margin: 20px 0;
}


footer .row-1 .col-1 .link{
    display: flex;
    justify-content: space-between;

}

footer .row-1 .col-1 .link ul{
    margin: 20px 0px 0 0;
}


footer .row-1 .col-1 .link ul li{
    font-size: 12px;
    margin-bottom: 30px;
}

footer .row-1 .col-1 .link ul li:hover{
    text-decoration: underline;
    color: #046739;
}


footer .row-1 .col-2{
    width: 100%;
    margin: auto;

}

footer .row-1 .col-2 h2{
    font-size: 18px;
    margin: 20px 0;
    text-align: center;
    /* display: none; */
}


footer .row-1 .col-2 .form form {
    /* display: none; */
    padding: 40px;
    width: 100%;
    background-color: #fff;
    margin: auto;
    border-radius: 10px;
}





footer .col-2 .form  form label{
    font-size: 16px;   
}


footer .col-2 .form  form input{
    margin: 5px auto 10px auto;
    width: 100%;
    height: 40px;
    padding: 5px;
    border: 2px solid #138951;
    border-radius: 5px;
}


footer .col-2 .form form button{
    color: #fff;
    font-size: 18px;
    width: 100%;
    margin: 10px  auto;
    padding: 5px;
    background-color: #138951;
    border: 2px solid #138951;
    border-radius: 10px;
}

hr{
    width: 90%;
    margin: auto;
}


footer .row-2 {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}


footer .row-2 .col-2{
    flex-basis: 40%;
    margin-left: 0px;
    margin-top: 30px;
}




.footer p{
    font-size: 15px;
    font-weight: 700;
}











}



@media (min-width: 551px) and (max-width: 1040px) {
    
    
header .navigation ul{
    display: none;
    
}

.desktop-logo{
    display: none;
}

.mobile-logo{
    display: block;
}

.mobile-menu{
    display: block;
    width: 40px;
}

.mobile-menu img{
    width: 100%;
}

.mobile-menu .drop-menu{
    display: none;
}


header{
    width: 100%;
    margin: auto;
    padding: 10px 50px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 1;

    
}


/* SECTION.PATH  */
section.path{
    background-image: url(./image/background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    
}

section.path h2{
    font-size: 50px;
    margin: 40px 0 20px 0;
}

section.path p{
    font-size: 18px;
    text-align: center;
    margin-bottom: 45px;
    line-height: 1.5;
}

section.path p.btn{
    font-size: 18px;
    font-weight: 500;
    border: 1px solid #138951;
    background-color: #138951;
    padding: 15px 40px;
}




section.path p.donate{
    background-color: #138951;
    transform: rotate(-90deg);
    padding: 10px 40px;
    position: absolute;
    top: 15%;
    right: -45px;
}



section.mission-vision .mission{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 40px auto;
}


section.mission-vision .mission .col-1 {
    margin-left: 50px;
    flex-basis: 50%;
    
}


section.mission-vision .mission .col-1 h2{
    font-size: 40px;
    font-weight: 700;
    color: #4A4A4A;
    margin-bottom: 20px;
    
    

}



section.mission-vision .mission .col-1 p{
    font-size: 20px;
    margin-bottom: 20px;
}

section.mission-vision .mission .col-1 p.read-more{
    color: #138951;
    width: 200px;
    border: 1px solid #138951;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin-top: 50px;

}



section.mission-vision .mission .col-2 {
    flex-basis: 40%;
    width: 200px;
    
    
}


section.mission-vision .mission .col-2 img{
    width: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}


section.mission-vision .vision{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

section.mission-vision .vision .col-1{
    flex-basis: 50%;
    margin-right: 30px;
}

section.mission-vision .vision .col-1 img{
    width: 100%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

section.mission-vision .vision .col-2{
    flex-basis: 50%;
}



section.mission-vision .vision .col-2 h2{
    font-size: 40px;
    font-weight: 700;
    color: #4A4A4A;
    margin: bottom 15px;
    
    

}

section.mission-vision .vision .col-2 p{
    font-size: 20px;
    margin-bottom: 0px;
}


section.boxes .box-container{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    
}

section.boxes .box-container .box-3{
    display: none;
}


section.boxes .box{
    width: 50%;
    min-height: 300px;
    background-color: #3e5d4e;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}


section.boxes .box .image {
    width: 55px;
    margin: 20px auto;

}

section.boxes .box .image img{
    background-color: #fff;
    padding: 15px;
    border-radius: 50%;
    width: 100%;
}

section.boxes .box h2{
    font-size: 25px;
    margin-bottom: 15px;
}

section.boxes .box p{
    font-size: 18px;
}

section.boxes .box p.access{
    font-size: 18px;
    margin-top: 35px;
    background-color: #138951;
    padding: 15px 0;
    border-radius: 10px;
    text-align: center;
}

section.boxes .box p.access img{
    width: 10px;
}


section.upcoming{
    background-color: #E5E5E5;
    padding: 10px;
}


section.upcoming h2{
    font-size: 20px;
    text-align: center;
    margin: 30px 0;
}

section.upcoming .boxes{
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

section.upcoming .boxes .box{
    background-color: #fff;
    width: 45%;
    min-height: 400px;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    /* padding: 20px; */

}

section.upcoming .boxes .box-3{
    display: none;
}



section.upcoming .box .date p{
    color: #fff;
    font-weight: 800;
    background: linear-gradient(132.84deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.05) 100%);
    min-width: 100px;
    position: absolute;
    padding: 20px;
    border-top-left-radius: 20px;
}

section.upcoming .boxes .box .image{
    width: 100%;
    margin: auto;
}

section.upcoming .boxes .box .image img{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

section.upcoming .boxes .box h2{
    font-size: 24px;
    font-weight: 700;
    color: #4A4A4A;
}

section.upcoming .boxes .box p{
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    width: 150px;
    margin: auto;
}

section.upcoming .boxes .box p span{
    font-weight: 700;
}



section.latest-news .boxes{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 95%;
    margin: 20px auto;
    padding: 20px;
    
}


section.latest-news .boxes .box-3{
    display: none;
}

section.latest-news .boxes .box {
    background-color: #fff;
    width: 50%; 
    min-height: 400px;
    text-align: left;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


section.latest-news .boxes .box-1{
    margin-left: 0px;
}


section.latest-news h2.latest{
    font-size: 40px;
    text-align: center;
    padding: 30px 0;
}

section.latest-news .boxes .box
 .image{
    width: 100%;
    
}

section.latest-news .boxes .box .image img{
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
section.latest-news .boxes .box .text p.march{
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0;
    text-align: left;
    padding-left: 30px;
    color: #4A4A4A;
}

section.latest-news .boxes .box .text h2.IVC{
    font-size: 26px;
    font-weight: 700;
    text-align: left;
    padding-left: 30px;
    margin-bottom: 20px;
}

section.latest-news .boxes .box .text p.word{
    text-align: left;
    padding-left: 30px;
    font-size: 16px;
    margin-bottom: 40px;
}

section.latest-news .boxes .box .text p.read-more{
    text-align: left;
    padding-left: 30px;
    font-size: 20px;
    color: #138951;
    margin-bottom: 20px;
}



section.path-to-success{
    background: linear-gradient(0deg, rgba(5, 89, 52, 0.401), rgba(0, 85, 44, 0.697)), url(./image/background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
}



footer .row-1{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    flex-basis: 60%;
    margin-bottom: 30px;
    
}


footer .row-1 .col-1 h2{
    font-size: 2px;
    margin: 20px 0;
}


footer .row-1 .col-1 .link{
    display: flex;
    justify-content: space-between;
   

}

footer .row-1 .col-2 h2{
    display: none;
}


footer .row-1 .col-2 .form form {
    display: none;
}


footer .row-1 .col-1 .link ul{
    margin: 20px 10px 0 0;
    width: 100%;
    /* margin: auto; */
    margin-left: 30px;
}


footer .row-1 .col-1 .link ul li{
    font-size: 28px;
    margin-bottom: 30px;
}
















}