*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Hind', sans-serif;
    text-decoration: none;
    list-style: none;
}

.desktop-logo{
    margin: auto;
}

.mobile-menu{
    display: none;
}


.mobile-logo{
    display: none;
}
    

header{
    width: 100%;
    margin: auto;
    padding: 20px 50px;
    /* margin-top: 20px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 1;

    
}

header .logo{
    display: flex;
    justify-content: center;
    align-items: center;
}


header .logo .image {
    width: 45px;
    margin-right: 10px;
}

header .logo .image img{
    width: 100%;
}

header .logo p{
    font-size: 15px;
    font-weight: 700;
}

header .navigation ul{
    display: flex;
    
    
}

header .navigation ul{ 
    color: #000;
    margin-left: 10px;
    font-size: 15px;
    font-weight: 500;
    position: relative;
    transition: 0.4s;
    
}



header .navigation .drop-down { 
   
    /* transition: 0.4s; */
    animation: bounce 0.6s ease-in 0s 1;
}



@keyframes bounce{
    0%  {
        margin-top: -50px;
        /* margin-left: 0; */
    }
}
/* 
header .navigation ul li:hover {
    animation: gyrate 0.4s ease-in-out 0s 1;
}

@keyframes gyrate{
    0% {
        margin-left: -20px;
    }
} */

header .navigation ul li i{
    font-size: 10px;
}

header .navigation ul li i:hover{
    transition: ease-in-out 0.1s;
    transform: rotate(180deg);
}


header .navigation ul li.main:hover{
    border-bottom: 2px solid #138951;
    /* animation: gyrate 1.2s ease-in-out 0s 1; */
}
/* 
@keyframes gyrate{
    0%{
        margin-left: -10px;
    }
} */

header .navigation ul li a{
    text-decoration: none;
    color: #000;
    padding: 20px;
    
}

.program-down {
    display: none;
}

header .navigation ul li:hover .program-down{
    display: block;
    position: absolute;
    left: 0;
    top: 120%;
    width: 200px;
    background-color: #D5EBE1;
    box-shadow: 0px 16px 36px rgba(115, 115, 115, 0.2);
}

.navigation .program-down ul{
    display: block;
    margin-top: 10px;
    padding-left: 0;
    margin-left: 0;
    
}

.navigation .program-down ul li{
    font-size: 12px;
    margin: 15px 0;
    

}

.navigation .program-down ul li:hover {
    background-color: #138951;
    padding: 10px 0;
    transition: ease-in-out .6s;
    transition-delay: 0s;
}


/* ABOUT-DOWN */


.navigation .about-drop-down{
    display: none;
}


header .navigation ul li:hover .about-drop-down{
    display: block;
    background-color: #D5EBE1;
    position: absolute;
    left: 0;
    top: 120%;
    width: 140px;
    /* margin-top: 15px; */
    box-shadow: 0px 16px 36px rgba(115, 115, 115, 0.2);
    
}

.navigation .about-drop-down ul{
    display: block;
    padding: 15px 0;
    margin-left: 0;

}

.navigation .about-drop-down ul li{
    font-size: 12px;
    margin-bottom: 10px;
    transition: ease-in-out  0.4s;
    margin-left: 0;
}

.navigation .about-drop-down ul li:hover{
    background-color: #138951;
    padding: 10px 0;
    color: #fff;
    transition: ease-in-out 0.4s;
}




/* AREA DOWN  */

.navigation .area-down{
    display: none;
}

.navigation ul li:hover .area-down{
    background-color: #D5EBE1;
    width: 150px;
    display: block;
    position: absolute;
    top: 120%;
    left: 0;
    box-shadow: 0px 16px 36px rgba(115, 115, 115, 0.2);
}

.navigation .area-down ul{
    display: block;
    margin-top: 10px;
    padding-left: 0;
    margin-left: 0;

}

.navigation .area-down ul li{
    font-size: 12px;
    margin: 15px 0;
    transition: ease-in-out .4s;
}

.navigation .area-down ul li:hover{
    background-color: #138951;
    padding: 10px 0;
    transition: ease-in-out .4s;
}

/* 
header .navigation ul li a:hover{ 
    color: #046739;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px 15px;
    border-radius: 10px;
    transition: ease-in-out 0.4s;
    transition-duration: 1s;
    transition-delay: 0.1s;
} */

header .navigation ul li.about-us{
    position: relative;
}

/* PARA-DROP */

.navigation ul li{
    position: relative;
}


.navigation .para-down{
    display: none;
}


header .navigation ul li:hover .para-down{
    display: block;
    background-color: #D5EBE1;
    position: absolute;
    left: 0;
    top: 120%;
    width: 220px;
    /* margin-top: 15px; */
    box-shadow: 0px 16px 36px rgba(115, 115, 115, 0.2);
    
}

.navigation .para-down ul{
    display: block;
    padding: 15px 0;
    margin-left: 0;

}

.navigation .para-down ul li{
    font-size: 12px;
    margin-bottom: 20px;
    transition: ease-in-out  0.4s;
    margin-left: 0;
}

.navigation .para-down ul li:hover{
    background-color: #138951;
    padding: 10px 0;
    color: #fff;
    transition: ease-in-out 0.4s;
}


/* CONTACT-DOWN */

.navigation ul li{
    position: relative;
}


.navigation .contact-down{
    display: none;
}


header .navigation ul li:hover .contact-down{
    display: block;
    background-color: #D5EBE1;
    position: absolute;
    left: 0;
    top: 120%;
    width: 140px;
    /* margin-top: 15px; */
    box-shadow: 0px 16px 36px rgba(115, 115, 115, 0.2);
    
}

.navigation .contact-down ul{
    display: block;
    padding: 15px 0;
    margin-left: 0;

}

.navigation .contact-down ul li{
    font-size: 12px;
    margin-bottom: 10px;
    transition: ease-in-out  0.4s;
    margin-left: 0;
    margin-bottom: 15px;
}

.navigation .contact-down ul li:hover{
    background-color: #138951;
    padding: 10px 0;
    color: #fff;
    transition: ease-in-out 0.4s;
}


/* SECTION-PATH */


section.path{
    background-image: url(./image/Image\ Background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.path h2{
    font-size: 60px;
    color: #fff;
    font-weight: 700;
}

section.path p{
    width: 800px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    margin-top: 15px;
}

section.path button {
    color: #fff;
    font-size: 18px;
    width: 200px;
    margin-top: 60px;
    padding: 10px 30px;
    background-color: #138951;
    border: 1px solid #138951;
    border-radius: 5px;
}

/* SECTION-MISSIN-VISION */

section.mis-vis{
    width: 100%;
    margin: 50px auto;
}

section.mis-vis .mission{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.mis-vis .mission .text{
    margin-left: 200px;
    flex-basis: 40%;
}

section.mis-vis .mission .text h2{
    font-size: 32px;
    margin-bottom: 5px;
    position: relative;
    
}

section.mis-vis .mission .text h2::after {
    content: "";
    width: 60px;
    height: 2px;
    background-color: #138951;
    position: absolute;
    left: 0;
    bottom: 0px;
}


section.mis-vis .mission .text p{
    font-size: 18px;
    width: 500px;
    line-height: 2;
}

section.mis-vis .mission .image{
    width: 400px;
    flex-basis: 40%;
}

section.mis-vis .mission .image img{
    width: 100%;
}



section.mis-vis .vision{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

section.mis-vis .vision .image{
    width: 400px;
    flex-basis: 40%;
}


section.mis-vis .vision .image img{
    width: 100%;
}


section.mis-vis .vision .text{
    /* margin-right: 100px; */
    flex-basis: 40%;
}


section.mis-vis .vision .text h2{
    font-size: 32px;
    margin-bottom: 5px;
    position: relative;
    
}

section.mis-vis .vision .text h2::after {
    content: "";
    width: 50px;
    height: 2px;
    background-color: #138951;
    position: absolute;
    left: 5px;
    bottom: 0px;
}


section.mis-vis .vision .text p{
    font-size: 18px;
    width: 500px;
    line-height: 2;
}

/* SECTION-RESOURCES */

section.resources {
    background-color: #D5EBE1;
    width: 100%;
    padding: 40px;
}

section.resources .boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}

section.resources .boxes .box {
    background-color: rgba(11, 36, 24, 0.4);
    width: 30%;
    min-height: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    color: #fff;
}

section.resources .boxes .box .icon {
    width: 50px;
    margin: 0 auto;

}

section.resources .boxes .box  .icon img{
    width: 100%;
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
}

section.resources .boxes .box h2{
    font-size: 28px;
    font-weight: 700;
    margin-top: 20px;
}

section.resources .boxes .box p{
    font-size: 20px;
    width: 70%;
    margin: 30px auto;
    line-height: 1.5;
}

section.resources .boxes .box button{
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #138951;
    box-shadow: 0px 12px 32px rgba(19, 137, 81, 0.25);
}

section.resources .boxes .box button a{
    text-decoration: none;
    color: #fff;
}


/* SECTION-UPCOMING */

section.upcoming{
    
    padding: 20px auto;
    background-color: 
    #FAFAFA;
}

section.upcoming h2{
    text-align: center;
    padding: 30px 0;
    position: relative;
}

section.upcoming h2::after{
    content: "";
    background-color: #138951;
    position: absolute;
    width: 245px;
    height: 2px;
    top: 65px;
    left: 42%;
}

section.upcoming .boxes {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    padding-bottom: 30px;
}

section.upcoming .boxes .box{
    width: 40%;
    min-height: 320px;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 24px;
    position: relative;
}

section.upcoming .boxes .box .date{
    position: absolute;
    color: #fff;
    width: 130px;
    text-align: center;
    padding: 20px;
    font-size: 18px;
    background-color: #6E6E6E;
    border-top-left-radius: 24px;
    opacity: 0.8;
}

section.upcoming .boxes .box .image{
    width: 100%;
    margin: auto;
    
}

section.upcoming .boxes .box .image img{
    width: 100%;
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
}

section.upcoming .boxes .box .text{
    text-align: center;
    margin: 30px 0;
}

section.upcoming .boxes .box .text p.sisters{
    color: 
    #138951;
    font-weight: 700;
    font-size: 28px;
}

section.upcoming .boxes .box .text p.theme{
    font-size: 22px;
}

section.upcoming .boxes .box .text p.theme span{
    font-weight: 700;
}



section.upcoming .boxes .box .text p.venue{
    font-size: 22px;
}

section.upcoming .boxes .box .text p.venue span{
    font-weight: 700;
}


section.upcoming .boxes .box .text p.reg {
    font-size: 22px;
}

section.upcoming .boxes .box .text p.reg span{
    font-weight: 700;
}


/* SECTION-NEWSLETTER */

section.newsletter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 20px auto;
}

section.newsletter .col-1 p.subscribe{
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0 10px 0;
    width: 300px;
}

section.newsletter .col-1 p {
    width: 600px;
}

section.newsletter .col-2{
    border: 2px solid #138951;
    width: 350px;
    padding: 10px 0;
    margin-top: 20px;
    border-radius: 10px;
}

section.newsletter .col-2 form input{
    border: none;
    width: 65%;
    font-size: 16px;
    padding-left: 5px;
    margin-left: 5px;
}

section.newsletter .col-2 form input:focus{
    outline: none;
}

section.newsletter .col-2 form button{
    font-size: 16px;
    padding: 10px;
    width: 30%;
    background-color: #138951;
    color: #fff;
    border: none;
    border-radius: 5px;
}

